/*  Override bootstrap variables */
$primary: #007FFC;
$secondary: #16133D;
$success: #52C29D;
$warning: #FFB536;
$danger: #F04D5D;
$light: #EFEEF3;
$font-family-base: 'Exo 2',
sans-serif;

// Breakpoint variable
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$huge: 1800px;