.services {
    margin-top: 8rem;

    .heading__secondary {
        margin: 0.9rem 0 0.5rem 0;
    }
}

.pricing {
    margin-top: 8rem;

    .heading__secondary {
        margin-bottom: 0.5rem;
    }
}