.form {

    &__group {
        margin-bottom: 1rem;
    }

    &__input {
        display: inline-block;
        width: 100%;
        border: 1px solid $light-3;
        border-radius: 4px;
        font-family: inherit;
        padding: 0.4rem 0.93rem;
        transition: all 0.3s ease-in;

        &::placeholder {
            color: $light-2;
            opacity: 1;
        }


        &:focus,
        &:active {
            outline: none;
            border-color: $primary;
        }
    }

    &__radio {
        display: inline-block;
        margin-right: 5px;
    }

    &__radio-label {
        color: $light-2;
    }
}