.social-btn {

    &,
    &:link,
    &:visited {
        display: inline-block;
        width: 100%;
        border: none;
        color: $light;
        border-radius: 2px;
        text-transform: capitalize;
        padding: 0.5rem 2.5rem;
        font-family: inherit;
        transition: all .3s ease-in-out;

        &:focus,
        &:active {
            outline: none;
        }

        @include respond(large) {
            width: initial;
        }
    }

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &--google {
        background-color: #CC3333;

        &:hover {
            background-color: darken(#CC3333, 15);
        }
    }

    &--twitter {
        background-color: #00ACEE;

        &:hover {
            background-color: darken(#00ACEE, 10);
        }
    }

    &--facebook {
        background-color: #3B5998;

        &:hover {
            background-color: darken(#3B5998, 15);
        }
    }
}