.header {
    margin-top: 10rem;

    @include respond(large) {
        margin-top: 12rem;
    }

    &__text {
        font-size: 1.2rem;
        margin-top: 1.24rem;
        margin-bottom: 1.8rem;

        @include respond(large) {
            margin-top: 1.8rem;
            margin-bottom: 2rem;
        }
    }
}